<header>

  <nav>
     
    
    <div class="nav-content">
      <!-- <img src="../assets/treeEg.png" alt="Image paste" class="logo-image"> -->
      <a routerLink="/Shop" routerLinkActive="active">SHOP</a>
      <a routerLink="/consultation" routerLinkActive="active">CONSULTATION</a>
      <a routerLink="/resources" routerLinkActive="active">RESOURCES</a>
      <a routerLink="/membership" routerLinkActive="active">MEMBERSHIPS</a>
      <a routerLink="/about" routerLinkActive="active">ABOUT</a>
      <div class="nav-icon">
       
        <i *ngIf="searchSymbol" class="bi bi-search" (click)="openSearchInput()"></i>
        <input (blur)="onInputBlur($event)" *ngIf="searchBoxVisible" type="search" class="search" aria-label="search" placeholder="Search">
        <i class="bi bi-person"></i>
        <i class="bi bi-bag"></i>
      </div>
    </div>
    <span>Glossary</span>
  </nav>
</header>


<div class="cntrl-content">
<router-outlet></router-outlet>
</div>




<div class="olive-green-div">
  <span class="sub-protal"><p class="discount">Stay Updated <em>on all news on Hemp</em></p></span>
  <span class="sub-protal sub-portal-1"><p >Join our mailing list and get 10% off your next order</p></span>
  <div class="sub-protal sub-portal-2">
    <div class="email-container">
      <form (ngSubmit)="onSubscribe()">
        <input type="email" placeholder="Enter your email" class="email-input" [(ngModel)]="email" name="email" required />
        <!-- Provide the name attribute for the input -->
        <button type="submit" class="subscribe-button">SIGN UP</button>
      </form>
    </div>
    
    
  </div>
  
</div>



<footer>

  <div class="footer-content">
    
    <div class="footer-section">
      <h3>INFORMATION</h3>
      <ul class="ul">
        <li>About Us</li>
        <li>Shop All</li>
        <li>FAQ</li>
        <li>Return and Exchange</li>
        <li>Terms of Services</li>
        <li>Refund</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>SHOP</h3>
      <ul class="ul">
        <li>All Product</li>
        <li>Hemp Nutrition</li>
        <li>Canna Bliss</li>
        <li>Skin Health</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>CONTACT US</h3>
      <ul class="ul">
        <li><i class="bi bi-telephone-fill contact"></i>+91 8763574889</li>
        <li><i class="bi bi-envelope contact"></i>info@indiahemoorganics.com</li>
        <li><i class="bi bi-geo-alt contact"></i>#41/2 Castle Street, Ashok Nagar, Bangalore - 560025</li>
        <li class="social-media">
          <i class="bi bi-facebook social-icon"></i>
          <i class="bi bi-instagram social-icon"></i>
          <i class="bi bi-twitter social-icon"></i>
          <i class="bi bi-linkedin social-icon"></i>
          
        </li>
      </ul>
    </div>
  </div>
</footer>
