/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
    font-family: 'Karla';
    src: url('../src/assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }